baseurl = 'https://an-jack511.github.io/'
title = "AnJaCk"
theme = "whiteplain"
languageCode = "en"
# paginate = 100  # 已弃用，删除或注释
[pagination]
  pagerSize = 100  # 新增：默认每页显示 100 条
# Disqus shortname
# disqusShortname = "Shortname"
# google analytics tracking id
googleAnalytics = "Toracking ID"

# Copyright notice. This is displayer in the footer.
# copyright = "&copy; Copyright 2017 Your name"

[languages]
  [languages.zh]
    languageName = "zh"
    weight = 2

[params]
  # whether to use CDN or local file for fontawesome
  #useCDN = false
  # whether to include external sharing scripts and icons for twitter, facebook and co.
  #showShareIcons = false
  # Date format
  dateFormat = "2006-01-02"
  customCSS = ["css/custom.css"] # 加载自定义样式
  summaryLength = 150 # 摘要字符数（约150字符）
  showFullContent = false # 不在首页显示全文
  
  [params.comments]
    provider = "giscus" # e.g. "giscus" or "utterances" or "disqus"
    # Giscus settings (fill when provider = "giscus")
    giscus_repo = "an-jack511/an-jack511.github.io"         # 格式: owner/repo
    giscus_repo_id = ""      # 可选，giscus repo-id
    giscus_category = "Comments"     # Discussion category name
    giscus_category_id = ""  # 可选，giscus category-id
    giscus_mapping = "pathname" # pathname | url | title | specific
    giscus_reactions = true
    giscus_metadata = false
    giscus_theme = "light"
  
# This is displayer in About page.
[params.math]
  enable = true
  provider = "mathjax"

[params.author]
  name = "An_Jack"
  # Gravatar or Abatar image
  # gravatar = "Gravatar email or MD5 Hash"
  avatar = "/images/avatar.jpg"

[[params.author.social]]
  name = "知乎"
  url = "https://www.zhihu.com/people/an-jack511"

[[params.author.social]]
  name = "B站"
  url = "https://space.bilibili.com/398661867"

[params.shareButtons]
  size = "small"
  networks = []

[taxonomies]
  category = "categories"
  tag = "tags"
  series = "series"

# Header Menu
[[menu.main]]
  name = "分类"
  identifier = "categories"
  url = "/categories/"
  weight = 1
[[menu.main]]
  name = "标签"
  identifier = "tags"
  url = "/tags/"
  weight = 2
[[menu.main]]
  name = "归档"
  identifier = "archives"
  url = "/archives/"
  weight = 3

# Footer Menu
[[menu.footer]]
  name = "About"
  weight = 1
  identifier = "about"
  url = "/about/"

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true  # 允许原始 HTML/LaTeX

  [markup.math]
    enable = true
    provider = "mathjax"  # 或 "katex"  

[template]
  # 显式声明 shortcode 目录
  shortcodes = ["layouts/shortcodes"]