{{ if .Site.Params.math | default true }}
<!-- MathJax configuration for rendering mathematical expressions -->
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true,
      packages: {'[+]': ['physics']},
      macros: {
        dif: ['\\mathop{}\\!\\mathrm{d}#1', 1],
        dd: ['\\mathop{}\\!\\mathrm{d}#1', 1],
        D: ['\\frac{\\dif #1}{\\dif #2}', 2],
        DD: ['\\frac{\\dif^2 #1}{\\dif #2^2}', 2],
        Dn: ['\\frac{\\dif^{#3} #1}{\\dif #2^{#3}}', 3],
        ddx: ['\\frac{\\dif #1}{\\dif x}', 1],
        ddt: ['\\frac{\\dif #1}{\\dif t}', 1],
        pD: ['\\frac{\\partial #1}{\\partial #2}', 2],
        pDD: ['\\frac{\\partial^2 #1}{\\partial #2^2}', 2],
        pDn: ['\\frac{\\partial^{#3} #1}{\\partial #2^{#3}}', 3],
        bf: ['\\mathbf{#1}', 1],
        bm: ['\\boldsymbol{#1}', 1]
      }
    },
    options: {
      skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
      ignoreHtmlClass: 'tex2jax_ignore',
      processHtmlClass: 'tex2jax_process'
    },
    loader: {
      load: ['[tex]/physics']
    },
    startup: {
      ready: () => {
        MathJax.startup.defaultReady();
        console.log('MathJax initialized');
      }
    }
  };
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>
{{ end }}